<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bate.admin.mapper.MenuMapper">
    <sql id="defaultColumns">
        id AS "id",
        name AS "name",
        url AS "url",
        sort AS "sort",
        icon AS "icon",
        type AS "type",
        is_use AS "isUse",
        target AS "target",
        pid AS "pid",
        create_time AS "createTime",
        create_by AS "createBy"
    </sql>

    <sql id="leftJoin">
    </sql>

    <select id="get" resultType="Menu">
        SELECT
        <include refid="defaultColumns"/>
        FROM sys_menu
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Menu">
        SELECT
        <include refid="defaultColumns"/>
        FROM sys_menu
    </select>

    <select id="findList" resultType="Menu">
        SELECT
        <include refid="defaultColumns"/>
        FROM sys_menu
    </select>

    <insert id="save">
        INSERT INTO sys_menu(
			id,
			name,
			url,
			sort,
			icon,
			type,
			is_use,
			target,
			pid,
			create_time,
			create_by
		) VALUES (
			#{id},
			#{name},
			#{url},
			#{sort},
			#{icon},
			#{type},
			#{isUse},
			#{target},
			#{pid},
			#{createTime},
			#{createBy}
		)
    </insert>

    <update id="update">
        UPDATE sys_menu SET
			name = #{name},
			url = #{url},
			sort = #{sort},
			icon = #{icon},
			type = #{type},
			is_use = #{isUse},
			target = #{target},
			pid = #{pid}
		WHERE id = #{id}
    </update>

    <!--物理删除-->
    <update id="del">
        DELETE FROM sys_menu
		WHERE id = #{id}
    </update>

    <select id="findMenuByIds" resultType="Menu">
        SELECT
        <include refid="defaultColumns"/>
        FROM sys_menu
        WHERE
        is_use = 1
        AND type = 1
        AND id IN
        <foreach item="id" collection="ids" open="(" close= ")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="findMenuById" resultType="Menu">
        SELECT
        <include refid="defaultColumns"/>
        FROM sys_menu
        WHERE
        is_use = 1
        AND type = 2
        AND pid = #{id}
    </select>
</mapper>