<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bate.admin.mapper.UserMapper">
    <sql id="userColumns">
		id,
		username AS "userName",
		sex,
		company_id AS "companyId",
		department,
		avatar,
		realname,
		id_code AS idCode,
		mobile,
		create_time AS createTime,
		create_by AS createBy
	</sql>

    <select id="findAll" resultType="com.bate.admin.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user
    </select>

    <select id="findList" resultType="com.bate.admin.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user

    </select>

	<select id="get" resultType="com.bate.admin.entity.User">
		SELECT
		<include refid="userColumns"/>
		FROM sys_user WHERE  id = #{id}
	</select>

    <select id="getByName" resultType="com.bate.admin.entity.User">
        SELECT * FROM sys_user WHERE  username = #{userName}
    </select>

    <select id="getByToken" resultType="com.bate.admin.entity.User">
        SELECT
         <include refid="userColumns"/>
         FROM sys_user WHERE  token = #{token}
    </select>

	<update id="update">
        UPDATE  sys_user SET
        		username = #{userName},
				sex = #{sex},
				company_id = #{companyId},
				department = #{department},
				avatar = #{avatar},
				realname = #{realname},
				id_code = #{idCode},
				mobile = #{mobile},
				create_time = #{createTime},
				create_by = #{createBy}
		 WHERE id=#{id}
    </update>

    <insert id="save">
        INSERT INTO sys_user(
			id,
			username,
			password,
			token,
			sex,
			company_id,
			department,
			avatar,
			realname,
			id_code,
			mobile,
			create_time,
			create_by
		) VALUES (
			#{id},
			#{userName},
			#{password},
			#{token},
			#{sex},
			#{companyId},
			#{department},
			#{avatar},
			#{realname},
			#{idCode},
			#{mobile},
			#{createTime},
			#{createBy}
		)
    </insert>

    <!-- 更新用户密码 -->
    <update id="updatePasswordById">
		UPDATE sys_user SET
			password = #{password}
		WHERE id = #{id}
	</update>

    <!-- 更新用户token -->
    <update id="updateTokenById">
		UPDATE sys_user SET
			token = #{token}
		WHERE id = #{id}
	</update>
</mapper>